*.class
*.orig

# Package Files #
*.jar
*.war
*.ear

# Python #
*.pyc

# Website db and temporary files #
*.sqlite3
website/fsrecommender/*.json

# Eclipse #
.metadata
.settings
.classpath
.pydevproject
bin


target
.idea
project
.project
*.iml
