*:focus {
	outline: 0;
}

a.disabled,
a.disabled:hover {
	cursor: default;
	color: #333;
	text-decoration: none;
}

body {
	/*color: #47677a;*/
	color: #333;
	font-weight: bold;
	text-align: center;
}
#header {
	position: relative;
	z-index: 100;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #47677a;
	text-align: left;
	border-bottom: 2px solid #608296;
	box-shadow: 0 2px 6px #999;
}
#header-content {
	color: white;
	width: 1200px;
	margin: 0 auto;
}
	#header-content h1 {
		float: left;
	}
#header-content h1 a {
	color: #fff;
}
#header-content a:hover {
	text-decoration: none;
}
#header-menu {
	float: right;
	margin-top: 25px;
}
#header-menu ul {
	list-style-type: none;
}
#header-menu li {
	display: inline;
}
	#header-menu a:hover {
		background: #53768b;
	}
#footer {
	height: 80px;
	margin-top: 20px;
}
.btn-logout {
	color: #fff;
}

#content-wrap {
	position: relative;
	text-align: left;
	width: 1200px;
	margin: 0 auto;
	padding: 0 0 20px 0;
}

#footer {
	margin-top: 20px;
}

h2 {
	font-size: 16px;
	font-weight: bold;
	margin: 8px 0;
}

button {
	border: 0 none;
}
.button {
	display: block;
	float: left;
	color: #47677a;
	font-weight: bold;
	text-align: center;
	margin: 4px 4px 0 0;
	padding: 4px 12px;
	border-radius: 4px;
	background: #dae6ee;
}
.button.light {
	background: none;
}
.button:hover {
	color: white;
	text-decoration: none;
	background: #47677a;
}
.button.light:hover {
	color: #47677a;
	background: #f0f9ff;	
}

.button[data-skip] {
	float: right;
	margin-bottom: 16px;
}

.time-select {
}
	.time-select .display {
		width: 100%;
		text-align: center;
		margin-top: 4px;
	}

.slider {

}
	.slider p {
		float: left;
		width: 8%;
		margin-bottom: 0;
	}
	.slider p.right {
		float: right;
		text-align: right;
	}
	.slider .element {
		float: left;
		width: 84%;
		margin-top: 5px;
	}

#map-holder {
}
	#map-holder #map {
		width: 100%;
		height: 600px;
		margin-bottom: 10px;
	}
.mt {
	margin-top: 20px;
}


/*-----Recommendation List --------*/
#recommendations-wrapper {
	margin-top: 24px;
	border-top: 1px solid #ccc;
}
.recommendation {
	width: 32%;
	padding: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 0px 0px 0px #CCC;
}

.recommendation:hover{
	box-shadow: 0px 0px 5px #CCC;
}

.recommendation div {
	margin-top: 0.3em;
	margin-bottom:0.3em;
}

	.recommendation .images {
		text-align: center;
	}
		.recommendation .images img {
			margin: 2px;
		}

.recommendation h3, .pop-up div h3{
	display: inline;
	color: #666;
	font-size: 0.9em;	
}

.recommendation p, .pop-up p{
	display: inline;
	font-size: 15px;
	font-weight: 100;
}

.info {
	position: absolute;
	top: 11px;
	right: -210px;
	display: block;
	width: 200px;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0 0 4px #47677a;
	background: #f0f9ff;
}
	.info p {
		color: #47677a;
		font-weight: normal;
		font-style: italic;
	}
		.info p strong {
			font-style: normal;
			font-weight: bold;
		}

.astat{
}
/*-----MENU-------*/

 #top-menu {
	position:fixed;
	top:0px;
	width:100%;
	/*height: 60px;*/
	background-color:#fff;/*D9FB3F*/
	z-index:100;
	color: LimeGreen;
	font-size: 1.3em;
	padding: 10px 10px 0 0;
	box-shadow: 0px 1px 2px #AAA;
}

#logo {
	/*display: inline;*/
	font-weight: bold;
	margin-bottom: 0;
	margin-left: 1em;
}
nav {
	float: right;
	text-align: right;
	margin: 0;
}
nav ul li{
	float: left;
	list-style: none;
	padding:0 0 0 50px;*/
}

nav ul li a:link {
	color: LimeGreen;
	text-decoration: none;
}
nav ul li a:visited {
	color: LimeGreen;
	text-decoration: none;
}
nav ul li a:hover {
/*	color: Pink;
*/	
	font-weight: bold;
	text-decoration: none;
}

/*nav .active{
	cursor:pointer;
	color: #58A1FC;
	font-weight:bold;
}*/

.day-select {
	text-align: center;
	list-style-type: none;	
}
	.day-select li {
		display: inline-block;
		margin: 0 2px;	
	}
		.day-select .button {
			display: block;
			line-height: 92px;
			width: 100px;
			height: 100px;
			border-radius: 8px;
		}
		.day-select .button:hover,
		.day-select .button.selected {
			line-height: 88px;
			color: white;
			border: 2px solid #80A2B6;
		}
		.day-select .button.selected {
			background: #479ac2;
		}