*:focus {
	outline: 0;
}

body {
	color: #47677a;
	font-weight: bold;
	text-align: center;
}
#header {
	padding-top: 10px;
	background: #47677a;
	text-align: left;
}
#header-content {
	color: white;
	width: 980px;
	margin: 0 auto;
}
#header-content a {
	color: #fff;
}
#header-content a:hover {
	text-decoration: none;
}
#header-menu {
	text-align: right;
}
#header-menu ul {
	list-style-type: none;
}
#header-menu li {
	display: inline;
}
#footer {
	height: 80px;
	margin-top: 20px;
}
.btn-logout {
	color: #fff;
}

#content-wrap {
	text-align: left;
	width: 980px;
	margin: 0 auto;
	padding: 20px 0;
}

#footer {
	margin-top: 20px;
}

h2 {
	font-size: 16px;
	font-weight: bold;
	margin: 8px 0;
}

button {
	border: 0 none;
}
.button {
	display: block;
	float: left;
	color: #47677a;
	font-weight: bold;
	text-align: center;
	margin: 4px 4px 0 0;
	padding: 4px 12px;
	border-radius: 4px;
	background: #dae6ee;
}
.button.light {
	background: none;
}
.button:hover {
	color: white;
	text-decoration: none;
	background: #47677a;
}
.button.light:hover {
	color: #47677a;
	background: #f0f9ff;	
}

.time-select {
	
}
.time-select input {
	width: 20px;
}