{% extends 'base.html' %}

{% block title %}4square Recommender{% endblock %}

{% block header %}
{% if logged_in %}
<ul>
<li><a class="btn" type="button" href="/profile">profile</a></li>
<li><a class="btn" type="button" href="/logout/">logout</a></li>
</ul>
{% endif %}
{% endblock %}

{% block content %}
<div class="clearfix">
	{% if logged_in %}
		<a class="btn" type="button" href="/locationtime/">Select location&amp;time</a>
		<a class="btn" type="button" href="/recommend/">Recommend me</a>
	{% else %}
		<a class="btn" type="button" href="/login/">Login with Foursquare</a>
	{% endif %}
</div>
{% endblock %}