{% extends 'base.html' %}

{% block title %}Location &amp; Time Selection{% endblock %}

{% block content %}

<form method="post" action="/recommend/">{% csrf_token %}
    <div class="clearfix">
      	<div id="map-holder" class="skipper">
			<div id="map"></div>
			<input id="map-lat" type="hidden" name="latitude"/>
			<input id="map-long" type="hidden" name="longitude"/>
			<input id="map-radius" type="hidden" name="radius"/>
			<div class="slider clearfix" data-callback="resizeCircle">
				<p>Radius:</p>
				<div class="element"></div>
				<p class="kms right">2 km</p>
			</div>

			<div class="clearfix"><a href="#" class="button light" data-skip="location">Skip location</a></div>
		</div>

		<div class="skipper">
			<h2>Choose a time range</h2>
			<div id="time-select" class="time-select">
				<div class="element"></div>
				<p class="display"></p>
				<input type="hidden" name="time1" value="08:00">
				<input type="hidden" name="time2" value="22:00">
			</div>
			<div class="clearfix"><a href="#" class="button light" data-skip="time">Skip time range</a></div>
		</div>

		<div class="skipper">
			<ul class="day-select clearfix">
				<input type="hidden" name="days" />
				<li><a href="#" class="button" data-day="1">Monday</a></li>
				<li><a href="#" class="button" data-day="2">Tuesday</a></li>
				<li><a href="#" class="button" data-day="3">Wednesday</a></li>
				<li><a href="#" class="button" data-day="4">Thursday</a></li>
				<li><a href="#" class="button" data-day="5">Friday</a></li>
				<li><a href="#" class="button" data-day="6">Saturday</a></li>
				<li><a href="#" class="button" data-day="7">Sunday</a></li>
			</ul>
			<div class="clearfix"><a href="#" class="button light" data-skip="days">Skip day selection</a></div>
		</div>
	</div>
    <div class="clearfix">
      	<button type="submit" id="set-locationtime" name="set" class="button">Search</button>
    </div>
 </form>		

<script type="text/javascript">
	var marker = null,
		map = null,
		circle = null;

	function resizeCircle(r) {
		circle.setRadius(r*1000);
		$("#map-radius").val(r);
	}

	function initMap() {
		map = L.mapbox.map('map', 'emmahf.hmdbmdpk');
	    map.setView(getCurrentLocation(), 13);

	    marker = L.marker(getCurrentLocation(), {
		    draggable: true
		}).addTo(map);

		circle = L.circle(marker.getLatLng(), 100).addTo(map);
		resizeCircle(2);

		marker.on('drag', onDragEnd);
		onDragEnd(marker);
	}

	initMap();

	function onDragEnd(marker) {
		if(typeof(marker.target) !== 'undefined')
			marker = marker.target;
		var ll = marker.getLatLng();
		$("#map-lat").val(ll.lat);
		$("#map-long").val(ll.lng);
		circle.setLatLng(ll);
	}
</script>
{% endblock %}
