{% extends 'base.html' %}

{% block title %}4square Recommender :: Location &amp; Time Selection{% endblock %}

{% block content %}
<h2>Select location &amp; time below:</h2>

<form method="post" action="/locationtime/">{% csrf_token %}
	<div class="clearfix">
		<div class="time-select">
			<input class="hour" disabled="disabled" name="hour" value="12">
			:
			<input class="minute" disabled="disabled" name="minute" value="00">
		</div>

		<!-- Map to be added similarly to what is already done -->
		<div id="map"></div>
	</div>
	<div class="clearfix">
		<button type="submit" id="set-locationtime" name="set" class="button">Set</button>
		<button type="submit" id="set-locationtime" name="skip" class="button light">Skip</button>
	</div>
</form>
{% endblock %}